#kegometrics
  %h2.phark Vote For Next Week's Beer
  .content
    %h3 Current Leaderboard
    %img{:class => '', :src => '/images/graph.png'}/
    %h3.choose Choose Your Beer
    %table
      %tr.even
        %td.first
          %input{:type => 'radio', :value => '1'}
        %td RPM IPA
      %tr.odd
        %td.first
          %input{:type => 'radio', :value => '1'}
        %td Hop Head Imperial IPA
    %p.vote
      %a{:href => '#'} Vote!