- if signed_in?
  %p
    %strong My Rating:
  = form_for '', :url => rate_beer_path(beer), :html => { :class => 'rating' } do |f|
    = f.select(:rating,
      %w(1 2 3 4 5),
      {:selected => beer.rating_for_user(current_user)},
      {:id => 'r2'})
    = f.submit 'Submit Rating'
